body{
    background-color: #FCE8F1;
}
 
.sizer{
    width:800px;
    
}

.main{
    width:90%;
    margin: 0 auto;
    
}

.title{
    font-family: Georgia;
    color:#7E1B4E;
    width:50%;
}

.all{
  display: flex;
  justify-content: space-evenly;
  width:70%;
  height:50%;
  margin:  auto;
}

.begin{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin-right: -40%;
}

.begPic{
    width: 90%;
    margin: 10px;
    border: double;
    border-width: 10px;
    border-color: #af0c0c;
    align-self: center;
}

.frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titleFrame{
    margin: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.bottomFrame{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.setMid{
    margin: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-right: 10%;
    margin-top: 35%;
    width:50%;
    line-height: 1.8;
}

.setup{
    font-family: Georgia;
    color:#7E1B4E;
    text-align: center;
    font-size:90%;
}

.bottomMiddle{
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.imageButtonWork{
  margin-top: 15%;
   margin-left: -5%;

}


.buttonOptions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

.imageOne{
    width:30%;
    margin: 10px;
    border: groove;
    border-width: 10px;
    border-color: #376979;
}

.imageTwo{
    width:30%;
    margin: 10px;
    border: groove;
    border-width: 10px;
    border-color: #aa9208;
}

button{
    font-family: Georgia;
    margin: 10px;
    
}

.optionOne{
  background-color: #0c2164;
  color: #C3CEF8;
  border: double;
  padding:1%;
  text-align: center;
  width:40%;
  font-size: 15px;
  border-radius:10px;
  text-wrap: wrap;

}
.optionOne:hover{
  background-color: #EDEFFD;
  color: #163fc7;
}

.optionTwo{
  background-color: #4C490A;
  color: #F8F4BF;
  border: double;
  padding:1%;
  text-align: center;
  width:40%; 
  font-size: 15px;
  border-radius:10px;
  text-wrap: wrap;
}

.optionTwo:hover{
  background-color: #CEC91C;
  color: #323106;
}

.optionOneAA{
  background-color: #0c2164;
  color: #C3CEF8;
  border: double;
  padding:1%;
  text-align: center;
  width:40%;
  font-size: 15px;
  border-radius:10px;
  display:none;
}
.optionOneAA:hover{
  background-color: #EDEFFD;
  color: #163fc7;
}

.optionTwoAB{
  background-color: #4C490A;
  color: #F8F4BF;
  border: double;
  padding:1%;
  text-align: center;
  width:40%;
  font-size: 15px;
  border-radius:10px;
  display:none;
}
.optionTwoAB:hover{
  background-color: #CEC91C;
  color: #323106;
}

.optionOneBA{
  background-color: #0c2164;
  color: #C3CEF8;
  border: double;
  padding:1%;
  text-align: center;
  width:40%;
  font-size: 15px;
  border-radius:10px;
  display:none;
}
.optionOneBA:hover{
  background-color: #EDEFFD;
  color: #163fc7;
}

.optionTwoBB{
  background-color: #4C490A;
  color: #F8F4BF;
  border: double;
  padding:1%;
  text-align: center;
  width:40%;
  font-size: 15px;
  border-radius:10px;
  display:none;
}
.optionTwoBB:hover{
  background-color: #CEC91C;
  color: #323106;
} 

.restart{
  background-color: #4c0a0a;
  color: #f8bfbf;
  border: double;
  padding:10%;
  text-align: center;
  width:100%;
  font-size: 15px;
  border-radius:10px;
  display:none;
}
.restart:hover{
  background-color: #f8bfbf;
  color: #4c0a0a;
} 

